'scopeName': 'source.srt'
'name:': 'SRT'
'fileTypes': ['SRT']

'patterns': [
	{
		'match': '^- Untranslated subtitle -$'
		'name': 'untranslated'
	},
	{
		'match': '.{40,}'
		'name': 'out-of-bounds-text'
	}
]
